[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
django-debug-toolbar = "*"
pylint = "*"

[packages]
django = "*"
django-dotenv = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2 = "*"
whitenoise = "*"
markdown = "*"
python-dateutil = "*"
geojson = "*"
requests = "*"
petl = "*"
pandas = "*"
tenacity = "*"
boto3 = "*"
pynamodb = "*"
marshmallow = "*"
django-leaflet = "*"
numpy = "*"
gunicorn = "*"
pytz = "*"
pyyaml = "*"
django-cors-headers = "*"
django-rq = "*"
geopandas = "*"
codetiming = "*"
pyproj = "==2.6.1"

[requires]
python_version = "3.8"
