[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
django-debug-toolbar = "*"
pylint = "*"

[packages]
apache-libcloud = "*"
django = "*"
django-cloud-browser = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-leaflet = "*"
django-storages = "*"
django-taggit = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
django-rq = "*"
dj-database-url = "*"
drf-spectacular = "*"
gunicorn = "*"
python-dotenv = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
whitenoise = "*"
marshmallow = "*"
marshmallow-dataclass = "*"
markdown = "*"
geojson = "*"
requests = "*"
psycopg2-binary = "*"
boto3 = "*"
pynamodb = "*"
petl = "*"
pandas = "*"
numpy = "*"
geopandas = "*"
pyproj = "==2.6.1"
rasterio = "*"
pygeos = "*"
rtree = "*"
uritemplate = "*"
tenacity = "*"
codetiming = "*"
objgraph = "*"

[requires]
python_version = "3.8"
